/* 
  #47adf1 azzurro
  #9c72e4 violetto
  #64c0a9 verdino
  #f29e33 arancio
  #d863a1 fucsia
  #b0c926 lime

  #64c0a9 color check green
  #ea4237 color cross red
*/

/* GENERALE */
/* ---------------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #f6f8f9
}
/* ---------------------------------------------- */

/* HEADER */
/* ---------------------------------------------- */
header{
  background-color: white;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  font-weight: bolder;
  font-size: 40px;
  font-weight: 800;
}

header img{
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}
/* ---------------------------------------------- */

/* MAIN */
/* ---------------------------------------------- */

.container{
  /* background-color: green; */
  width: 70%;
  /* min-width: 600px; */
  margin: 0 auto;
  height: 100vh;
}

/* sezione bottoni */
/* ---------------------------------------------- */
.buttons{
  background-color: white;
  margin-top: 50px;
  margin-bottom: 2px;
  padding: 10px 0px 10px 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.buttons button{
  padding: 8px 16px;
  /* border: none; */
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.buttons button#task{
  background-color: #47adf1;
  color: white;
  border: 2px solid #47adf1;
}

.buttons button#sect{
  background-color: white;
  color: #c4cacf;
  border: 2px solid #c4cacf;
}
/* fine sezione bottoni */
/* ---------------------------------------------- */

/* sezione liste */
/* ---------------------------------------------- */

.lists{
  background-color: white;
  padding-top: 50px;
  padding-left: 50px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul{
  list-style: none;
}

.lists ul.primary-list>li{
  font-size: 20px;
  font-weight: bold;
  color: #444851;
}

.lists ul.primary-list>li::before{
  /* &blacktriangledown; */
  content: '\25BE';
}

.secondary-list{
  font-weight:400;
  font-size: 16px;
}

.secondary-list li.check::before{
  /* &check; */
  content: '\2713';
}

.secondary-list li.cross::before{
  /* &check; */
  content: '\2717';
}


/* ---------------------------------------------- */
/* fine sezione liste */


/* fine MAIN */
/* ---------------------------------------------- */
